.line-wrap {
    overflow: hidden;
    min-height: 32px;
}

.lineParent {
    overflow: hidden;
}

.lineChildren {
    transform: translate(0, 500px);
}

.line-content-1 {
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    font-size: 48px;
    text-transform: uppercase;
}

.my-desc {
    text-transform: uppercase;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .hero-project-title {
        font-size: 120px!important;
        line-height:130px!important;
    }
}

@media screen and (max-width: 576px) {
    .line-content-1 {
        font-size: 36px!important;
        line-height: 44px!important;
    }
    .hero-project-title {
        font-size: 85px!important;
        line-height:95px!important;
    }
    .my-desc {
        font-size: 14px!important;
        line-height:24px!important;
    }
}


