.feature-card-container {
    min-height: 470px;
    transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
    /* margin-bottom: 28px; */
}
.link-container {
    text-decoration: none!important;
}

.card-div {
    /* background-color: #c4c4c4; */
    border-radius: 4px;
    min-height: 470px;
}

.feature-description {
    font-weight: 300;
}

.category-text {
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

.project-img-small {
    display: none;
}

.card-text-content {
    padding: 42px 0px 42px 54px;
}

.project-img {
    width: 100%;
    min-height: 470px;
    object-fit: cover;
    /* width: 120%; */
}

.project-featured-title {
    font-weight: 500;
    font-size: 60px;
}

.project-img-container {
    overflow: hidden;
    border-radius: 0px 4px 4px 0px;
    /* padding-left: 1rem; */
}

@media screen and (max-width: 1190px) {
   .project-featured-title {
        font-size: 36px!important;
   }
   .category-text {
        width: 80%;
   }
   .project-img {
        object-fit: fill;
        width: 130%;
   }
}

@media screen and (max-width: 768px) {
    .project-featured-title {
        font-size: 60px!important;
   }
   .featured-desc {
        width: 65%!important;
    }
    .card-div {
        height: 100%;
    }

    .project-img-small {
        display: inline;
        width: 100%;
        height: auto;
    }

    .project-img {
        display: none;
    }

    .desc-text {
        width: 75%;
    }
    .card-text-content {
        padding-bottom: 8px;
    }
    .project-featured-title {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .project-img-container {
        width: 120%;
    }
    .desc-text {
        width: 75%;
    }
    .card-div {
        height: 100%;
    }
    
    .project-img {
        height: 100%;
    }

    .project-featured-title {
        margin-top: 1rem;
    }

    .project-img-small {
        display: inline;
        width: 100%;
        height: auto;
    }

    .project-img {
        display: none;
    }
}

.Tilt {
    height: 100%;
}

.underline-category {
    border: 2px solid;
    width: 100px;
}

@media screen and (max-width: 1140px) {
   
}

/* hover animations */
.feature-card-container:hover {

}