.project {
    height: 100%;
}

.section-sub {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
}

.sub-title {
    border-bottom: 1px solid #000;
}

.bebas-text {
    font-family: 'Bebas Neue', cursive;
}

.featured-small-width {
    display: none!important;
}

.hero-project-title {
    font-size: 60px;
}

@media screen and (max-width: 768px) {
    .featured-full-width {
        display: none!important;
    }
    .featured-small-width {
        display: block!important;
    }
}