.bottom-text-loader {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.top-text-loader {
    font-family: 'Bebas Neue', cursive;
    font-size: 120px;
    line-height: 110px;
}

.loader-title {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
}