.hero-image {
    background-color: #171717;
    height: 900px;
    border-radius: 0 0 2rem 2rem;
    color: #fff;
}

.source-text {
    font-family: 'Source Code Pro', monospace;
}

/* .hero-animated {
    position: absolute;
}

.work-inner {
    display: flex;
    justify-content: center;
}  */

@media screen and (max-width: 768px) {
    .other-col-left {
      padding: 0!important;
      margin-bottom: 12px;
    }
    .other-col-right {
      padding: 0!important;
    }
}

@media screen and (max-width: 576px) {
    .other-col-left {
      padding: 0!important;
      margin-bottom: 12px;
    }
    .other-col-right {
      padding: 0!important;
    }
    .projects-container {
        border-radius: 48px!important;
    }
}